/* Tags */

/* The game styling. */
body {
	color: white;
	text-align: center;
	background-color: #232323;
}

.square {
	background: purple;
	float: left;
	margin: 1.66%;
	padding-bottom: 30%;
	width: 30%;
}

#container, #board {
	text-align: center;
	margin: 0 auto;
	max-width: 600px;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background: blue;
	color: white;
}